:root {
    --primary-color: #FF9F66;
    --secondary-color: #FF5F00;
    --background-color: #FFFAE6;
    --text-color: #002379;
}

body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

h2 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: lighter;
}

#welcome,
#timer,
#question {
    display: none;
    text-align: center;
    color: var(--text-color);
}
#waiting,
#waiting-text {
    padding-left: 2.5rem;
    align-self: self-start;
    text-align: left;
}

#back-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.option-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.option-button img {
    width: 200px;
    height: auto;
}